*{
    margin: 0px ;
    padding: 0px ;
    border: 0px;
}


body{
    background-image: url("fotos/fotofoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

header{
    max-width: 100%;
}
.btnAcessoRestrito{

    position: relative;
    float: right;
    width: 126px;
    height: 25px;
    background-color: #000000;
    border: 0;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #C52C2C;
    cursor:pointer;
    top: 35px;
    right: 35px;
}


button:hover{
    border:2px solid yellow;

}
.btnAcessoRestrito:hover{
    border:2px solid yellow;
    
}


h1{
    display: flex;
    position: relative;
    font-family: Rock Salt;
    font-style: normal;
    font-weight: normal;
    font-size: 66px;
    line-height: 229px;
    color: #FFD234;
    transform: rotate(-0.02deg);
    left: 50px;
    top: -20px;
    max-width:50%;

}


.btnHome,.btnAgenda,.btnMusica,.btnBio,.btnFas, .btnCon{
    position: relative;
    left: 50px;
    top: 10px;
    margin-bottom: 40px;
    right: 0%;
    color:#E5E5E5;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 42px;
    text-decoration:none;
    display:  flex;
    border: 0px;
    padding: 0px;
    background-color: transparent;
    max-width: 50%;
    
    
}



.btnAltHome,.btnAltAgenda,.btnAltMusica,.btnAltBio,.btnAltFas,.btnAltCon{
    
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 100%;
    max-height: 50px;
    padding: 0%;
    background-image: url("fotos/editar1.png");
    background-size: cover;
    cursor:pointer;
    margin-top: -75px;
    position: relative;
    max-width: 50%;
}

.btnAltHome{
    left: 135px;   
}

.btnAltAgenda{
    left: 160px;   
}

.btnAltMusica{
    left: 290px;   
}

.btnAltBio{
    left: 200px;       
}

.btnAltFas{
    left: 270px; 
}

.btnAltCon{
    left: 180px;     
    margin-bottom: 60px;   
}


    
    .rodape{

        height: 50px;
        width:100%;
        bottom:0;
        line-height: 50px;
        text-align: center;
        background-color: #000;
        clear: both;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: #FFFFFF;

 }
 