*{
    margin: 0px ;
    padding: 0px ;
    border: 0px;
}


body{
    margin: 0px ;
    padding: 0px ;
    border: 0px;
    background-image: url("fotos/fotofoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: scroll;
    
    
}

header{
    max-width: 100%;
}
.btnAcessoRestrito{

    
    float: right;
    width: 156px;
    height: 35px;
    background-color: #000000;
    border: 0;
    margin-right: 35px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #C52C2C;
    clear: both;
    cursor:pointer;
    max-width: 30%;
    margin-top: 35px;
}


h1{
   
    display: flex;
    font-family: Rock Salt;
    font-style: normal;
    font-weight: normal;
    font-size: 86px;
    line-height: 229px;
    color: #FFD234;
    transform: rotate(-0.02deg);
    margin-left: 50px;
    margin-top: 0px;
    max-width: 50%;

}


.btnHome,.btnAgenda,.btnMusica,.btnBio,.btnFas, .btnCon{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 60px;
    margin-right: 0%;
    color:#E5E5E5;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    text-decoration:none;
    display:  flex;
    border: 0px;
    padding: 0px;
    background-color: transparent;
    cursor: pointer;
}

div .editar1{
    display: flex;
    min-width: 50vw;   
}

div.editar1 .btnHome:hover {
    
        color: #FFD234;
       
}

div.editar1 .btnAgenda:hover {
    
    color: #FFD234;
   
}


div.editar1 .btnMusica:hover {
    
    color: #FFD234;
   
}

div.editar1 .btnBio:hover {
    
    color: #FFD234;
   
}

div.editar1 .btnFas:hover {
    
    color: #FFD234;
   
}

div.editar1 .btnCon:hover {
    
    color: #FFD234;
   
}


.redes button{
    float: right;
    width: 60px;
    height: 60px;
    border: 0;
    margin-right: 80px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    clear: both;
    border-radius: 100%;
    max-width: 20%;
               
    }

    .redes>.btnInsta{
        margin-top: 0px;
        background-image: url("fotos/insta1.png");
        background-size: cover;
        cursor:pointer; 
        
    }
    
    .redes>.btnFace{
        background-image: url("fotos/fb.png");
        background-size: cover;
        cursor:pointer;
        
    }

    .redes>.btnTwitter{
        background-image: url("fotos/twiter.png");
        background-size: cover;
        cursor:pointer;
       
        
    }

    .redes>.btnYoutube{
        background-image: url("fotos/youtt.png");
        background-size: cover;
        cursor:pointer;
       
        
    }

    .redes>.btnSpotify{
        background-image: url("fotos/spotify.png");
        background-size: cover;
        cursor:pointer;
        
    }

    .conteudo{
        min-width: 51vw;
    }

    .conteudo button{

        display: flex;
        direction: column;
        float: right;
        clear: both;
        margin-right: 35px;
        background: rgba(224, 172, 135, 0.5);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        width: 444px;
        height: 76px;
        border:0;

        font-family: Roboto Slab;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 42px;
        color: rgba(255, 210, 52, 0.96);
        
        
    }

    .conteudo>.btnOucaAgora{

        margin-top: 100px;
        margin-bottom: 30px;
        justify-content: center;
        line-height: 70px;
        cursor:pointer;
    }

   
    .conteudo>.btnAssistaAgora{

        margin-bottom: 100px;
        justify-content: center;
        line-height: 70px;
        cursor:pointer;
        
    }
    

    div.conteudo button:hover{
        color: #FFFFFF;
    }    



    .rodape{
    position:-webkit-sticky;
    height: 50px;
    width:100%;
    bottom:0;
    line-height: 50px;
    text-align: center;
    background-color: #000;
    clear: both;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;

 }
 