*{
    margin: 0px ;
    padding: 0px ;
    border: 0px;
}
body{
    margin: 0px ;
    padding: 0px ;
    border: 0px;
    background-image: url("fotos/fotof.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
aside{
    display: flex;
    
}

header{
    max-width: 100%;
}


.btnAcessoRestrito{

    float: right;
    width: 156px;
    height: 35px;
    background-color: #000000;
    border: 0;
    margin-right: 35px;
    margin-top: 35px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #C52C2C;
    clear: both;
    cursor:pointer;
}


h1{
    font-family: Rock Salt;
    font-style: normal;
    font-weight: normal;
    font-size: 86px;
    line-height: 229px;
    color: #FFD234;
    transform: rotate(-0.02deg);
    margin-left: 50px;
    margin-top: 0px;

}


.btnConfirmarCadastro{
   
    
    position: absolute;
    margin-top:-90px;
    justify-self: center;
    margin-left: 30%;
    background: rgba(224, 172, 135, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 339px;
    height: 62px;
    font-family: Roboto Slab;
    font-style: bold;
    font-weight: 900;
    font-size: 22px;
    line-height: 53px;
    text-decoration-line: underline;
    color: #000000;
    cursor: pointer;
    float: right;
    
   
    
}

label{
   
    padding: 40px;
    align-self: center;
    text-align: center;
    line-height: 30px;
    background-color:#C4C4C4 ;
    position:absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    color: #000000;
    margin-left: 30px;
    margin-top: -20px;
    margin-bottom: 85px;
    
    
    
}
#fileUpload{
    align-self: center;
    
    
}
.voltar{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

    .btnVoltar{

        
        justify-content: center;
       margin-top: 30px;
       margin-left: 150px;
        background: #000000;
        border: 5px solid #E5E5E5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        width: 130px;
        height: 43px;
        cursor: pointer;
        float: left;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 25px;
        color: white;
        order:2;
       
    }

    .btnAntes,.btnDepois{
        background-color: transparent;
        color: white;
        font-size: 70px;
        cursor: pointer;
        display: flex;
        

    }

    .btnAntes{
        float: left;
        align-self: center;
        margin-left: 10px;
        
    }

    .card{

        
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 500px;
        margin-top: 30px;
        background: #C4C4C4;
        margin: 30px auto;
        
    }

    .card input{
        width: 302px;
        height: 63px;
        background: rgba(141, 60, 2, 0.3);
        border-radius: 50px;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        color: #000000;
        cursor: pointer;
        margin-bottom: 30px;
        margin-left: 20px;

    }
    #Upload::-webkit-input-placeholder { 
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 34px;
        color: #000000;
        padding-left:40px ;
        
    }

    #Upload1::-webkit-input-placeholder { 
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 34px;
        color: #000000;
        padding-left:70px ;
        
    }


    

    .btnApple{
        margin-top: 30px;
    }

    

    .btnDepois{
       
        float:right;
        align-self: center;
        margin-right: 10px;
    }


   

    h2{
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 70px;
        line-height: 95px;
        text-align: center;
        color: #FFFFFF;
        margin-left: 50px;
        margin-top:120px;
        float: left;
        order:1;
        
    }
    .conteudo{

        display: flex;
        position: relative;
        width: 866px;
        height: 558px;
        margin-bottom: 60px;
        background: rgba(224, 172, 135, 0.3);
        border-radius: 50px;
        float: right;
        margin-left: -40px;
}


    .rodape{
    position:-webkit-sticky;
    margin-bottom: -50px;
    height: 50px;
    width:100%;
    bottom:0;
    line-height: 50px;
    text-align: center;
    background-color: #000;
    clear: both;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;

 }
 
 